<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEOUL TRAVEL</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search.css">
  
</head>

<body>
  <!-- Main Container -->
  <div class="container">

    <!-- Header -->
    <header class="header" >
      <nav class="row">
        <div class="col-2"><a href="../main.html">
          <img src="../images/ssss.png" alt="Logo Image" class="header-image">
          </a>
        </div>

        <div class="col-2 dropdown">
          <div class="dropbtn">
            <h3 class="name-title">지역</h3>
            <h4 class="name-title">Area</h4>
          </div>
          <div class="dropdown-content">
            <a href="gangnam.html">강남</a>
            <a href="hongdae.html">홍대</a>
            <a href="gwanghwamun.html">광화문</a>
            <a href="itaewon.html">이태원</a>
            <a href="jamsil.html">잠실</a>
            <a href="myeongdong.html">명동</a>
            <a href="#">기타</a>
          </div>
        </div>
        <div class="col-2"><a href="events.html">
          <h3 class="name-title">문화 행사</h3>
          <h4 class="name-title">Events</h4>
        </a></div>

        <div class="col-2"><a href="attraction.html">
          <h3 class="name-title">관광지</h3>
          <h4 class="name-title">Attraction</h4>
        </a></div>
        
        <div class="col-2"><a href="mypage.html">
          <h3 class="name-title">마이페이지</h3>
          <h4 class="name-title">Mypage</h4>
        </a></div>
        <div class="col-2"><a href="../login.html">
          <h3 class="name-title">로그인</h3>
          <h4 class="name-title">Login</h4>
        </a></div>
      </nav>
    </header>

    <hr>

    <!-- Main Image -->
    <div class="row">
      <div class="main-image col-12 center-text">
        <img src="../images/gwanghwamun/gwanghwamun.jpg" sizes="100vw" alt="main image">
        <div class="main-overlay center-text">
          <p class="main-overlay-text">Gwanghwamun</p>
        </div>
      </div>
    </div>

    <!-- About -->
    <section class="row">
      <div class="col-12 feature-title">
        <h2>광화문</h2>
      </div>

      <div class="row about">
          <p>
            광화문은 경복궁의 남쪽에 있는 정문입니다.
            의정부와 육조 관청들이 들어서 조선 시대부터 핵심 행정 기능을 수행했던 지역으로,
            서울의 역사가 함축된 곳 중 한 곳이라 볼 수 있습니다. 즉, 서울의 랜드마크 중 하나입니다.
            <br/><br/>
            서울시는 광화문광장을 국정과제와 연계하여 광화문 일대의
            역사성과 장소성을 담는 시민중심 대한민국 대표공간으로 변화시키고자 합니다.
          </p>
      </div>
    </section>

    <hr>

    <!-- Featured Works -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>여행지</h2>
      </div>


      <div class="row">
        <div class="col-8 center-text work">
          <a href="details.html?contentid=130158">
            <div class="each-work">
              <img src="../images/gwanghwamun/gwanghwamun2.jpg" alt="place image 1" class="left">
              <div class="work-overlay">
                <h2>서울메트로미술관</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4 work">
          <p class="each-work">
            서울메트로미술관은 지하철 3호선 경복궁역 내에 위치한 시민을 위한 문화 공간입니다.
            지하철 3호선 개통과 함께 경복궁을 중심으로 미술관의 시설을 개선하여 더욱 편리하게 관람할 수 있는 예술 공간이 되도록 하였습니다.
            미술관 내부는 경복궁처럼 전통적인 느낌을 내기 위해 화강암으로 꾸며져있습니다.
            <br /><br />
            모두에게 무료로 개방된 서울메트로 미술관은 누구나 쉽고 편하게 미술을 접할 수 있습니다.
        
            전국규모의 전시회를 개최함으로써 미술애호가들에게 참여의 기회를 제공하고 최고 수준의 공공미술관으로써 거듭나고 있습니다. 
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 work">
          <p class="each-work">
            북악산 한양도성은 청와대와 인접해 있습니다. 
            자연 속 서울 성곽 산행 코스로도 유명해 많은 방문객이 찾고 있습니다.
            오전 10시, 오후 2시, 해설사로부터 서울의 역사와 문화를 무료로 들을 수 있는 프로그램도 준비돼 있습니다.
            <br /><br />
            북악산은 보안상의 이유로 서울의 많은 산 중에서 가장 늦게 개방되었습니다.
            야경 데이트 명소로 주목받는 곳이며 정상에 있는 팔각정에서 서울 시내의 야경을 구경할 수 있습니다.
            팔각정 주변에는 산을 따라 산책로가 조성되어있습니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
        <div class="col-8 center-text work">
          <a href="details.html?contentid=809190">
            <div class="each-work">
              <img src="../images/gwanghwamun/gwanghwamun3.jpg" alt="place image 2" class="right">
              <div class="work-overlay">
                <h2>북악산<br>(서울 한양도성)</h2>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-8 center-text">
          <a href="details.html?contentid=775394">
            <div class="each-work">
              <img src="../images/gwanghwamun/gwanghwamun4.jpg" alt="place image 3" class="left">
              <div class="work-overlay">
                <h2>광화문광장</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4">
          <p class="each-work">
            광장은 크게 '광화문의 역사를 회복하는 광장', '육조거리의 풍경을 재현하는 광장', '한국의 대표 광장', '시민들이 참여하는 도시문화 광장', '도심 속의 광장', '청계천 연결부'로 나뉩니다.
            역사성과 문화, 휴식의 공간으로서 기능을 갖는다.
            <br /><br />
            특히 '한국의 대표광장'은 세종대왕 동상이 자리해 광장의 구심점 역할을 합니다.
            이순신 장군 동상 주변부인 '도심 속의 광장'도 시민들에게 사랑받는 공간입니다.
            뿐만 아니라 인공연못과 분수를 설치해 여름철에는 시민들의 더위를 식혀줍니다.
            이밖에도 서울시의 상징인 해치 조형물과 잔디광장도 조성했습니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- 문화행사 -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>엔터테인먼트</h2>
      </div>
      <!-- Work 1 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentit=2666751">
          <div class="each-work">
            <img src="../images/gwanghwamun/gwanghwamun5.jpg" alt="work image 1" class="left" >
            <div class="work-overlay">
              <h4>어제, 오늘, 내일을 잇는 공간을 담아 추억과<br> 즐거움을 선사하는 문화복합몰입니다.<br>
                다양한 먹거리와 볼거리, 즐길거리로 <br>일상의 재미와 여유를 제공합니다.<br></h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title work-side">안녕인사동</h3>
        </div>
      </section>

      <!-- Work 2 -->
      <section class="col-4 center-text work">
        <div class="each-work">
          <img src="../images/gwanghwamun/gwanghwamun6.jpg" alt="work image 2">
          <div class="work-overlay">
            <h4>한국 목공예가 가진 선의 아름다움을<br> 가장 잘 표현하는 공예가, <br>신정철 씨가 운영하고 있는 공방 </h4>
          </div>
        </div>

        <div class="work-detail">
          <h3 class="work-title">북촌목공예공방</h3>
        </div>

      </section>

      <!-- Work 3 -->
      <section class="col-4 center-text work">
        <div class="each-work">
          <img src="../images/gwanghwamun/gwanghwamun7.jpg" alt="work image 3" class="right">
          <div class="work-overlay">
            <h4>식문화와 관광을 결합하여 한식을 통해 <br>한국의 문화를 체험할 수 있습니다.
                외국인을 상대로 하루에 두 번 <br>한식 요리 교실을 진행 중입니다.</h4>
          </div>
        </div>

        <div class="work-detail">
          <h3 class="work-title work-side">온고푸드커뮤니케이션</h3>
        </div>
      </section>

    </div>


    <!-- Footer -->
    <footer>
      <p>&copy; 숭실대학교 웹프로그래밍 9조</p>
    </footer>

  </div>

</body>

</html>
