<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEOUL TRAVEL</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search.css">
</head>

<body>
  <!-- Main Container -->
  <div class="container">

    <!-- Header -->
    <header class="header" >
      <nav class="row">
        <div class="col-2"><a href="../main.html">
          <img src="../images/ssss.png" alt="Logo Image" class="header-image">
          </a>
        </div>

        <div class="col-2 dropdown">
          <div class="dropbtn">
            <h3 class="name-title">지역</h3>
            <h4 class="name-title">Area</h4>
          </div>
          <div class="dropdown-content">
            <a href="gangnam.html">강남</a>
            <a href="hongdae.html">홍대</a>
            <a href="gwanghwamun.html">광화문</a>
            <a href="itaewon.html">이태원</a>
            <a href="jamsil.html">잠실</a>
            <a href="myeongdong.html">명동</a>
            <a href="#">기타</a>
          </div>
        </div>
        <div class="col-2"><a href="events.html">
          <h3 class="name-title">문화 행사</h3>
          <h4 class="name-title">Events</h4>
        </a></div>

        <div class="col-2"><a href="attraction.html">
          <h3 class="name-title">관광지</h3>
          <h4 class="name-title">Attraction</h4>
        </a></div>
        
        <div class="col-2"><a href="mypage.html">
          <h3 class="name-title">마이페이지</h3>
          <h4 class="name-title">Mypage</h4>
        </a></div>
        <div class="col-2"><a href="../login.html">
          <h3 class="name-title">로그인</h3>
          <h4 class="name-title">Login</h4>
        </a></div>
      </nav>
    </header>

    <hr>

    <!-- Main Image -->
    <div class="row">
      <div class="main-image col-12 center-text">
        <img src="../images/hongdae/hongdae1.jpg" sizes="100vw" alt="main image">
        <div class="main-overlay center-text">
          <p class="main-overlay-text">HongDae</p>
        </div>
      </div>
    </div>

    <!-- About -->
    <section class="row">
      <div class="col-12 feature-title">
        <h2>홍대</h2>
      </div>

      <div class="row about">
          <p>
            홍익대학교, 홍대입구역, 상수역 일대에 위치한 대형 상권. 홍대거리의 홍대는 홍익대학교의 줄임말인데, 홍대입구역이 개통된 후 특색 있는 상권이 유지되는 서교동, 상수동 상권 또는 국내 인디씬을 흔히 홍대 앞이라 칭하다 "홍대거리"라는 명칭으로 정착된 것입니다.

            <br/><br/>
            홍대는 테크노, 힙합, 라이브 록 음악이 흘러나오는 댄스클럽과 노래방이 있는 신나는 대학가 나이트라이프로 유명합니다. 그 밖에도 컴퓨터 게임을 즐기거나 벽화가 가득한 피카소 거리를 거닐거나 K팝 댄스 공연과 기타 솔로 버스킹 공연을 관람하며 시간을 보낼 수 있습니다. 
          </p>
      </div>
    </section>

    <hr>

    <!-- Featured Works -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>여행지</h2>
      </div>


      <div class="row">
        <div class="col-8 center-text work">
          <a href="details.html?contentid=781031">
            <div class="each-work">
              <img src="../images/hongdae/hongdae2.jpg" alt="place image 1" class="left">
              <div class="work-overlay">
                <h2>걷고싶은거리</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4 work">
          <p class="each-work">
            홍대 걷고싶은거리는 지하철 홍대입구역 8,9번 출구에서 나와 홍익대학교 방향으로 직진하면 만나는 작은 길입니다.
            홍대 앞을 대표하는 젊음의 거리인 걷고싶은거리는 전국에서 모이는 각양각색의 버스커들로 매일 밤이면 떠들썩해집니다.
            <br /><br />
            또한 나무무대와 야외광장 부근에는 직장인들이 많이 찾는 주점과 고깃집들이 밀집해있어 중장년층도 거리낌 없이 홍대 앞을 찾게끔 해줍니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 work">
          <p class="each-work">
            '트릭아이'는 트롱프뢰유(Trompe-l'oeil)의 영어식 표현으로 평면의 그림이 입체적으로 보이도록 착시를 일으키는 전통미술기법을 의미합니다.
            트릭아이뮤지엄은 관람객이 주인공이 되는 신개념의 문화 & 엔터테인먼트 공간으로, 미술작품 전시관으로는 세계 최초로 작품에 AR기술을 적용해 관람객에게 더욱 놀라운 경험을 제공하고 있습니다. 
            <br/><br/>
            작품과 적당한 거리를 두고 정해진 위치에서 찍으시면 놀라운 AR효과가 나타나며, 사진과 영상 촬영 둘 다 가능합니다.
            작품을 영상으로 찍으시면 더 실감나고 놀라운 증강현실을 즐길 수 있습니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
        <div class="col-8 center-text work">
          <a href="details.html?contentid=1177751">
            <div class="each-work">
              <img src="../images/hongdae/hongdae3.jpg" alt="place image 2" class="right">
              <div class="work-overlay">
                <h2>트릭아이뮤지엄</h2>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-8 center-text">
          <a href="details.html?contentid=2500229">
            <div class="each-work">
              <img src="../images/hongdae/hongdae4.jpg" alt="place image 3" class="left">
              <div class="work-overlay">
                <h2>경의선책거리</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4">
          <p class="each-work">
            책의 콘텐츠가 발현되는 곳
            "경의선 책거리"는 마포구에 위치해 있는, 도시재생 공간이자 경의선 홍대복합역사에 독서문화가 살아 숨 쉬는
            책을 테마로한 복합문화공간입니다.

            <br /><br />
            이 곳을 찾는 시민들이 세상에 나온 책 한권의 가치를 통해 건강한 삶의 지혜를 함께 나누고,
            출판 산업이 더욱 발전하길 바라며 마포구에서 2016년 10월 조성을 완료하였습니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- 문화행사 -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>엔터테인먼트</h2>
      </div>
      <!-- Work 1 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=2578284">
          <div class="each-work">
            <img src="../images/hongdae/hongdae5.jpg" alt="work image 1" class="left" >
            <div class="work-overlay">
              <h4>카카오프렌즈 홍대 플래그십 스토어는 <br>8개 캐릭터의 풍부한 상품 구성으로 <br>소비자들의 일상에 즐거움을 선사하고 있습니다. ​ </h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title work-side">카카오프렌즈 홍대 플래그십 스토어</h3>
        </div>
      </section>

      <!-- Work 2 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=397572">
          <div class="each-work">
            <img src="../images/hongdae/hongdae6.jpg" alt="work image 2">
            <div class="work-overlay">
              <h4>피카소거리에서 문을 연 KT&G 상상마당은 <br>공연, 전시, 영화 등을 위한 공간이<br> 별도로 마련된 복합문화 시설입니다.  </h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title">상상마당</h3>
        </div>

      </section>

      <!-- Work 3 -->
      <section class="col-4 center-text work">
        <div class="each-work">
          <img src="../images/hongdae/hongdae7.jpg" alt="work image 3" class="right">
          <div class="work-overlay">
            <h4>‘쿵’ 페스티벌의 목적은 학교 폭력의 심각성을 알리는 것입니다.<br>
              재능 넘치는 멤버들이 벌이는 역동적인 춤과 코믹한 스토리</h4>
          </div>
        </div>

        <div class="work-detail">
          <h3 class="work-title work-side">쿵 페스티벌</h3>
        </div>
      </section>

    </div>


    <!-- Footer -->
    <footer>
      <p>&copy; 숭실대학교 웹프로그래밍 9조</p>
    </footer>

  </div>

</body>

</html>
