<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEOUL TRAVEL</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search.css">
  
</head>

<body>
  <!-- Main Container -->
  <div class="container">

    <!-- Header -->
    <header class="header" >
      <nav class="row">
        <div class="col-2"><a href="../main.html">
          <img src="../images/ssss.png" alt="Logo Image" class="header-image">
          </a>
        </div>

        <div class="col-2 dropdown">
          <div class="dropbtn">
            <h3 class="name-title">지역</h3>
            <h4 class="name-title">Area</h4>
          </div>
          <div class="dropdown-content">
            <a href="gangnam.html">강남</a>
            <a href="hongdae.html">홍대</a>
            <a href="gwanghwamun.html">광화문</a>
            <a href="itaewon.html">이태원</a>
            <a href="jamsil.html">잠실</a>
            <a href="myeongdong.html">명동</a>
            <a href="#">기타</a>
          </div>
        </div>
        <div class="col-2"><a href="events.html">
          <h3 class="name-title">문화 행사</h3>
          <h4 class="name-title">Events</h4>
        </a></div>

        <div class="col-2"><a href="attraction.html">
          <h3 class="name-title">관광지</h3>
          <h4 class="name-title">Attraction</h4>
        </a></div>
        
        <div class="col-2"><a href="mypage.html">
          <h3 class="name-title">마이페이지</h3>
          <h4 class="name-title">Mypage</h4>
        </a></div>
        <div class="col-2"><a href="../login.html">
          <h3 class="name-title">로그인</h3>
          <h4 class="name-title">Login</h4>
        </a></div>
      </nav>
    </header>
    <hr>

    <!-- Main Image -->
    <div class="row">
      <div class="main-image col-12 center-text">
        <img src="../images/itaewon/itaewon2.png" sizes="100vw" alt="main image">
        <div class="main-overlay center-text">
          <p class="main-overlay-text">Itaewon</p>
        </div>
      </div>
    </div>

    <!-- About -->
    <section class="row">
      <div class="col-12 feature-title">
        <h2>이태원</h2>
      </div>

      <div class="row about">
          <p>
            서울의 대표적인 번화가이자 외국인, 외국 상품, 외국 문화의 집결지로 유명합니다.
            서울특별시 최초로 관광특구로 지정된 이태원 일대는 국내외 관광객의 주요 관광지가 되었고,
            최근에는 젊은층의 핫플레이스로 자리매김 되었습니다.
            
            <br/><br/>
            아시아와 유럽, 아메리카, 아프리카에 이르기 까지 전 세계의 다양한 인종과 문화가 공존하는 '서울 속 작은 지구촌', 이태원으로 초대합니다.
          </p>
      </div>
    </section>

    <hr>

    <!-- Featured Works -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>여행지</h2>
      </div>


      <div class="row">
        <div class="col-8 center-text work">
          <a href="details.html?contentid=126999">
            <div class="each-work">
              <img src="../images/itaewon/itaewon3.jpg" alt="place image 1" class="left">
              <div class="work-overlay">
                <h2>세계음식문화거리</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4 work">
          <p class="each-work">
            서울에서 가장 특색 있는 거리인 '세계음식문화거리'
            이곳은 음식뿐만이 아니라 세계의 다양한 문화와 엔틱가구거리, 패션거리까지도 접할 수 있어 서울의 손꼽히는 핫플레이스 중 하나입니다.

            <br /><br />
            무려 30개국이 넘는 세계의 전통 음식과 다양한 세계 문화가 접해있는 이태원 세계음식문화거리로 떠나봅시다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 work">
          <p class="each-work">
            전쟁기념관(The War Memorial of Korea)은 대한민국 서울특별시 용산구 이태원로 29에 위치한 기념관으로,
            대한민국을 지켜온 항쟁과 전쟁에 대한 기록을 모으고 보존하는 곳입니다. 
            <br /><br />
            전쟁에 대한 교훈을 통해 전쟁을 예방하고, 평화적 통일을 목적으로 합니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
        <div class="col-8 center-text work">
          <a href="details.html?contentid=130431">
            <div class="each-work">
              <img src="../images/itaewon/itaewon4.jpg" alt="place image 2" class="right">
              <div class="work-overlay">
                <h2>전쟁기념관</h2>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-8 center-text">
          <div class="each-work">
            <img src="../images/itaewon/itaewon5.png" alt="place image 3" class="left">
            <div class="work-overlay">
              <h2>경리단길</h2>
            </div>
          </div>
        </div>

        <div class="col-4">
          <p class="each-work">
            남산 자락 용산 이태원 쪽에 위치해 있고 이색적인 먹거리를 즐길 거리가 많은 곳 입니다.       
            <br /><br />
            망원동의 망리단길, 송파의 송리단길, 황남동의 황리단길 등 이색적이고 특색있는 수많은 유사품 길을 만들어 낼 정도로 전국적으로도 유명한 테마길 중 하나입니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- 문화행사 -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>엔터테인먼트</h2>
      </div>
      <!-- Work 1 -->
      <section class="col-4 center-text work">
        <div class="each-work">
          <img src="../images/itaewon/itaewon6.jpg" alt="work image 1" class="left" >
          <div class="work-overlay">
            <h4>이태원 카페 사유는 층마다 다른 컨셉의<br> 공간으로
              패션, 아트갤러리, 루프탑을 <br>모두 즐길 수 있습니다.
            </h4>
          </div>
        </div>

        <div class="work-detail">
          <h3 class="work-title work-side">카페 사유</h3>
        </div>
      </section>

      <!-- Work 2 -->
      <section class="col-4 center-text work">
        <div class="each-work">
          <img src="../images/itaewon/itaewon7.jpg" alt="work image 2">
          <div class="work-overlay">
            <h4>한국의 전통문화와 이태원의 외국 문화를<br>
               결합하고, 이태원 지역의 활성화 및<br>
                관광객 유치를 위해 2008년 처음 개최되었습니다. </h4>
          </div>
        </div>

        <div class="work-detail">
          <h3 class="work-title">이태원 지구촌축제</h3>
        </div>

      </section>

      <!-- Work 3 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=131519">
          <div class="each-work">
            <img src="../images/itaewon/itaewon8.jpg" alt="work image 3" class="right">
            <div class="work-overlay">
              <h4>그랜드 하얏트 서울 호텔 GL층에 위치한<br> 실외 아이스링크의 전체 둘레에는 <br>수천 개의 꼬마전구가 달린 것이 특징입니다.</h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title work-side">하얏트 아이스링크</h3>
        </div>
      </section>

    </div>


    <!-- Footer -->
    <footer>
      <p>&copy; 숭실대학교 웹프로그래밍 9조</p>
    </footer>

  </div>

</body>

</html>
