<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEOUL TRAVEL</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search.css">
  
</head>

<body>
  <!-- Main Container -->
  <div class="container">

    <!-- Header -->
    <header class="header" >
      <nav class="row">
        <div class="col-2"><a href="../main.html">
          <img src="../images/ssss.png" alt="Logo Image" class="header-image">
          </a>
        </div>

        <div class="col-2 dropdown">
          <div class="dropbtn">
            <h3 class="name-title">지역</h3>
            <h4 class="name-title">Area</h4>
          </div>
          <div class="dropdown-content">
            <a href="gangnam.html">강남</a>
            <a href="hongdae.html">홍대</a>
            <a href="gwanghwamun.html">광화문</a>
            <a href="itaewon.html">이태원</a>
            <a href="jamsil.html">잠실</a>
            <a href="myeongdong.html">명동</a>
            <a href="#">기타</a>
          </div>
        </div>
        <div class="col-2"><a href="events.html">
          <h3 class="name-title">문화 행사</h3>
          <h4 class="name-title">Events</h4>
        </a></div>

        <div class="col-2"><a href="attraction.html">
          <h3 class="name-title">관광지</h3>
          <h4 class="name-title">Attraction</h4>
        </a></div>
        
        <div class="col-2"><a href="mypage.html">
          <h3 class="name-title">마이페이지</h3>
          <h4 class="name-title">Mypage</h4>
        </a></div>
        <div class="col-2"><a href="../login.html">
          <h3 class="name-title">로그인</h3>
          <h4 class="name-title">Login</h4>
        </a></div>
      </nav>
    </header>

    <hr>

    <!-- Main Image -->
    <div class="row">
      <div class="main-image col-12 center-text">
        <img src="../images/jamsil/jamsil1.jpg" sizes="100vw" alt="main image">
        <div class="main-overlay center-text">
          <p class="main-overlay-text">Jamsil</p>
        </div>
      </div>
    </div>

    <!-- About -->
    <section class="row">
      <div class="col-12 feature-title">
        <h2>잠실</h2>
      </div>

      <div class="row about">
          <p>
            잠실종합운동장과 롯데월드 등의 대형 시설이 많아 서울에서 가장 유명한 동네 중 하나입니다.
            부유층이 많이 사는 부촌으로도 잘 알려져 있으며 테마파크, 대형 종합몰, 공원 등 다양한 즐길거리를 제공합니다.
          </p>
      </div>
    </section>

    <hr>

    <!-- Featured Works -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>여행지</h2>
      </div>


      <div class="row">
        <div class="col-8 center-text work">
          <a href="details.html?contentid=2003909">
            <div class="each-work">
              <img src="../images/jamsil/jamsil2.jpg" alt="place image 1" class="left">
              <div class="work-overlay">
                <h2>롯데월드타워</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4 work">
          <p class="each-work">
            글로벌 상징성과 한국의 전통미, 인간과 기술, 첨단과 자연이 공존하는 롯데월드타워는 하나의 건축물에 도시생활의 모든 것을 구현한 수직도시이다. 
            <br /><br />
            555m, 123층의 거대한 수직도시 롯데월드타워에는 국내 최고 높이 전망대인 서울스카이, 국내 최고 수준의 호텔 시그니엘서울, 프리미엄 헬스케어센터와 피트니스센터, 파이낸스센터가 입점한 포디엄이 위치하여 그 높이만큼 특별한 가치를 경험할 수 있습니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 work">
          <p class="each-work">
            석촌호수는 송파대로가 호수를 가로질러 가게 되면서 기다란 8자 모양을 하고 있습니다.
            잠실역과 롯데월드타워가 바로 연결되어 있어 접근성도 용이합니다.
            
            <br /><br />
            호수를 따라 걷다 보면 알록달록한 벽화들, 전시공간, 조각품 등 다양하게 꾸며져 있어 산책로가 지루하지 않습니다.
            <br /><br />
            잘 가꿔진 도심 속 쉼터라는 타이틀이 아깝지 않을 매력을 가지고 있는 석촌호수입니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
        <div class="col-8 center-text work">
          <a href="details.html?contentid=754052">
            <div class="each-work">
              <img src="../images/jamsil/jamsil3.jpg" alt="place image 2" class="right">
              <div class="work-overlay">
                <h2>석촌호수</h2>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-8 center-text">
          <a href="details.html?contentid=558912">
            <div class="each-work">
              <img src="../images/jamsil/jamsil4.jpg" alt="place image 3" class="left">
              <div class="work-overlay">
                <h2>올림픽공원</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4">
          <p class="each-work">
            1988년 서울 올림픽을 위해 건설되었으며, 현재는 일반적인 종합 공원으로 이용되고 있습니다.
            <br /><br />
            사이클,역도,펜싱,수영,체조,테니스 등 6개의 경기장 등의 경기 시설과 소마미술관 등
            다양한 문화 시설들이 함께 있습니다.     
            <br /><br />
            올림픽공원은 볼거리도 많고 즐길거리도 많아 그저 욕심 없이 발길 닿는 대로 돌아보는 것도 추천합니다. 
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- 문화행사 -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>엔터테인먼트</h2>
      </div>
      <!-- Work 1 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=131297">
          <div class="each-work">
            <img src="../images/jamsil/jamsil5.jpg" alt="work image 1" class="left" >
            <div class="work-overlay">
              <h4>롯데월드 아이스링크는 <br>잠실 롯데월드 실내에 자리해 있고
                <br>피겨스케이트, 스피드스케이트의 강습도 진행하고 있습니다.
              </h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title work-side">롯데월드 아이스링크</h3>
        </div>
      </section>

      <!-- Work 2 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=2492348">
          <div class="each-work">
            <img src="../images/jamsil/jamsil6.png" alt="work image 2">
            <div class="work-overlay">
              <h4>롯데월드타워
                 가장 높은 곳에 위치한<br> 서울스카이 전망대<br>
                 서울을 360도 뷰를 통해 한눈에 담을 수 있는 곳입니다. </h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title">서울스카이</h3>
        </div>

      </section>

      <!-- Work 3 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=126498">
          <div class="each-work">
            <img src="../images/jamsil/jamsil7.jpg" alt="work image 3" class="right">
            <div class="work-overlay">
              <h4>서울 롯데월드 건물에<br> 위치한 테마파크입니다.</h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title work-side">롯데월드 어드벤처</h3>
        </div>
      </section>

    </div>


    <!-- Footer -->
    <footer>
      <p>&copy; 숭실대학교 웹프로그래밍 9조</p>
    </footer>

  </div>

</body>

</html>
