<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEOUL TRAVEL</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search_style.css">
</head>

<body>
  <!-- Main Container -->
  <div class="container">

    <!-- Header -->
    <header class="header" >
      <nav class="row">
        <div class="col-2"><a href="../main.html">
          <img src="../images/ssss.png" alt="Logo Image" class="header-image">
          </a>
        </div>

        <div class="col-2 dropdown">
          <div class="dropbtn">
            <h3 class="name-title">지역</h3>
            <h4 class="name-title">Area</h4>
          </div>
          <div class="dropdown-content">
            <a href="gangnam.html">강남</a>
            <a href="hongdae.html">홍대</a>
            <a href="gwanghwamun.html">광화문</a>
            <a href="itaewon.html">이태원</a>
            <a href="jamsil.html">잠실</a>
            <a href="myeongdong.html">명동</a>
            <a href="#">기타</a>
          </div>
        </div>
        <div class="col-2"><a href="events.html">
          <h3 class="name-title">문화 행사</h3>
          <h4 class="name-title">Events</h4>
        </a></div>

        <div class="col-2"><a href="attraction.html">
          <h3 class="name-title">관광지</h3>
          <h4 class="name-title">Attraction</h4>
        </a></div>
        
        <div class="col-2"><a href="mypage.html">
          <h3 class="name-title">마이페이지</h3>
          <h4 class="name-title">Mypage</h4>
        </a></div>
        <div class="col-2"><a href="../login.html">
          <h3 class="name-title">로그인</h3>
          <h4 class="name-title">Login</h4>
        </a></div>
      </nav>
    </header>

    <hr>

    <!-- Main Image -->
    <div class="row">
      <div class="main-image col-12 center-text">
        <img src="../images/myeongdong/myeongdong1.jpg" sizes="100vw" alt="main image">
        <div class="main-overlay center-text">
          <p class="main-overlay-text">MyeongDong</p>
        </div>
      </div>
    </div>

    <!-- About -->
    <section class="row">
      <div class="col-12 feature-title">
        <h2>명동</h2>
      </div>

      <div class="row about">
          <p>
            명동은 매일 약 2백만 명이 방문하는 명실공히한 ‘대한민국 관광 1번지’입니다.
            서울 도심 한복판에 자리해 쇼핑과 금융, 문화의 허브 역할을 톡톡히 하고 있으며,
            거리는 고급 백화점과 레스토랑에서부터 각종 화장품 브랜드, 의류 브랜드 매장, 영화관 등이 들어서 있어 하루 종일 활기로 가득합니다.
            <br/><br/>
            현재는 서울 소비문화의 중심지로, 내외국인의 사랑을 받는 번화가로 거듭난 명동!
            지금까지 잘 모르고 있던 명동의 옛 역사와 함께 즐길 거리를 소개합니다.
          </p>
      </div>
    </section>

    <hr>

    <!-- Featured Works -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>여행지</h2>
      </div>


      <div class="row">
        <div class="col-8 center-text work">
          <a href="details.html?contentid=128776">
            <div class="each-work">
              <img src="../images/myeongdong/myeongdong2.jpg" alt="place image 1" class="left">
              <div class="work-overlay">
                <h2>남산 케이블카</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4 work">
          <p class="each-work">
            남산을 오르는 가장 손쉽고 재미있는 방법.
            서울 한복판에 우뚝 솟은 N서울타워가 있는 남산 정상까지 약 3분정도를 케이블카를 타고 이동하면서 멋진 서울의 전경을 감상할 수 있습니다.
            
            <br /><br />
            가을의 단풍과 겨울의 눈쌓인 남산 등 계절감을 즐기며 이동하는 재미도 있지만 빛으로 둘러쌓인 서울의 야경을 내려다보는 로맨틱한 체험도 가능합니다.
            140m 길이의 긴 경사형 엘리베이터인 남산오르미를 이용하면 편리하게 케이블카 승강장까지 이동이 가능합니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 work">
          <p class="each-work">
            명동성당은 우리나라 최초의 본당이며 한국 천주교회의 상징입니다.
            명동성당은 우리나라 기독교 역사뿐 아니라 정치, 사회, 문화 전반에 걸쳐 큰 영향을 미친 터전입니다.                        
            <br /><br />
            내부는 십자형 평면에 공중 회랑과 높은 창, 무지개 형상의 궁륭 천장으로 되어 있고, 외부는 고딕 장식을 통해 웅장함을 드러내고 있습니다.
            성당 주변에는 가톨릭회관과 다양한 문화시설이 있습니다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
        <div class="col-8 center-text work">
          <a href="details.html?contentid=126804">
            <div class="each-work">
              <img src="../images/myeongdong/myeongdong3.jpg" alt="place image 2" class="right">
              <div class="work-overlay">
                <h2>명동성당</h2>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-8 center-text">
          <a href="details.html?contentid=264311">
            <div class="each-work">
              <img src="../images/myeongdong/myeongdong5.jpg" alt="place image 3" class="left">
              <div class="work-overlay">
                <h2>명동쇼핑거리</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4">
          <p class="each-work">
            거대한 쇼핑 도시를 떠올리게 하는 명동은 그야말로 ‘쇼핑천국’.
            덕분에 서울을 찾는 외국 여행객들의 필수 코스로 자리 잡은 지 오래입니다.
            낮에는 관광객과 주민을 위해 차량 통행이 통제되므로 여기저기 편하게 둘러볼 수 있다.
            <br /><br />
            루이비통, 랄프 로렌, 불가리, 라코스테와 같은 고급 브랜드는 물론 나이키, 유니클로, 자라, 게스, 포에버21과 같은 중저가 브랜드도 눈에 띈다.
          </p>
          <textarea class="review">리뷰를 남겨주세요.</textarea>
          <input type="submit" value="등록">
          
          <div class="row">
            <button class="button" display="block">LIKE</button> 
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- 문화행사 -->
    <div class="row">
      <div class="col-12 feature-title">
        <h2>엔터테인먼트</h2>
      </div>
      <!-- Work 1 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=748186">
          <div class="each-work">
            <img src="../images/myeongdong/myeongdong6.jpg" alt="work image 1" class="left" >
            <div class="work-overlay">
              <h4>각종 예술 축제와 실험 연극, 무용 발표회,<br> 음악 콘서트 등이
                펼쳐지는 서울의 문화예술을 <br>대표하는 공간으로<br>
                많은 사람의 사랑을 받고 있습니다다.</h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title work-side">명동예술극장</h3>
        </div>
      </section>

      <!-- Work 2 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=650997">
          <div class="each-work">
            <img src="../images/myeongdong/myeongdong7.jpg" alt="work image 2">
            <div class="work-overlay">
              <h4>전 세계에서 해외 공연을 펼치며 <br>엄청난 인기를 끌고 있는 우리나라만의 <br>색다른 공연, 난타!
                <br>언어와 국경의 장벽을 초월해 누구나 즐길 수 있는 공연을 즐겨보자.  </h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title">명동난타극장</h3>
        </div>

      </section>

      <!-- Work 3 -->
      <section class="col-4 center-text work">
        <a href="details.html?contentid=2618716">
          <div class="each-work">
            <img src="../images/myeongdong/myeongdong8.jpg" alt="work image 3" class="right">
            <div class="work-overlay">
              <h4>사람을 위한 책, 사람과 책을 위한 공간<br>
                아크앤북은 책과 라이프스타일숍이 결합된 <br>새로운 유형의 도심 속 복합문화공간이다.</h4>
            </div>
          </div>
        </a>

        <div class="work-detail">
          <h3 class="work-title work-side">아크앤북</h3>
        </div>
      </section>

    </div>


    <!-- Footer -->
    <footer>
      <p>&copy; 숭실대학교 웹프로그래밍 9조</p>
    </footer>

  </div>

</body>

</html>
